body { background-color: crimson; }

h1 { position: relative;
    left: 450px;
    top: 50px;
    animation-name: header;
    animation-duration: 2s;
    animation-iteration-count: infinite; 

}

@keyframes header { 0%{transform: rotateX(0deg);}
                    100%{transform: rotateX(360deg);}
        
}

#clock { width: 300px;
         height: 300px;
         border-radius: 50%;
         border: solid black 5px;
         position: relative;
         top: 120px;
         left: 480px;
}

#stick1 { width: 2px;
          height: 100px;
          background-color: black;
          position: relative;
          left: 149px;
          top: 50px;
          animation-name: stick1;
          animation-duration: 60s;
          animation-iteration-count: infinite;
          transform-origin: bottom

}

@keyframes stick1 { 0%{transform: rotate(0deg);}
                    100%{transform: rotate(360deg);}
     
 }


#stick2 { width: 2.5px;
          height: 70px; 
          background-color: black;
          position: relative;
          top: 15px;
          left: 115px;
          transform: rotate(90deg);
          /* transform-origin: top; */
          animation-name: stick2;
          /* animation-duration: 60s; */
          animation-iteration-count: infinite;
          animation-delay: 60s;
          
}

@keyframes stick2 { 0%{transform: rotate(0deg);}
                    100%{transform: rotate(360deg);}
}


#num3 { font-family: 'Courier New', Courier, monospace; 
        position: relative;
        left: 280px;
        top: -40px;
        font-size: 20px;
}

#num6 { font-family: 'Courier New', Courier, monospace; 
        font-size: 20px;
        position: relative;
        left: 3px;
        top: -50px;
           
}

#num9 { font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        position: relative;
        top: 60px;
        left: 145px;

}

#num12 { font-family: 'Courier New', Courier, monospace; 
         font-size: 20px;
         position: relative;
         bottom: 230px;
         left: 132px;
}